body {
    font-family: "Crimson Text";
  }

h1 {
    font-family: "Crimson Text";
    font-size: 8vw;
  }

  a {
    color: hotpink;
    text-decoration: none;

  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  .dylanText {
    color:#1a1a1a;
  }

  @media only screen and (max-width: 650px){
    .dylanText {
      font-size: 16vw;
    }
  }